.main-bg {
  height: 50px;
  /* background-color: rebec */
  background-image: url("../image/Group17.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

.content-h1 {
  padding-top: 200px;
  color: white;
}

.main-detail {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 90%;
}

.detail-article {
  margin-bottom: 30px;
  font-family: "open sans";
  font-size: 18px;
}
